torch==2.6.0  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.9.0
onnxruntime==1.21.0
onnxruntime-gpu==1.21.0
onnxscript==0.6.2
onnxslim==0.1.48
ultralytics==8.4.21
onnx-graphsurgeon
onnx-simplifier
onnx<1.20.0
faster-coco-eval>=1.6.7
onnx-ir<0.1.16